<div class="interval-select">
  <mat-form-field>
    <mat-label>Candle Interval</mat-label>
    <mat-select [(ngModel)]="candleInterval" (ngModelChange)="changeCandleInterval()">
      <mat-option value="1 min">1 min</mat-option>
      <mat-option value="2 min">2 min</mat-option>
      <mat-option value="5 min">5 min</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<ng-container *ngIf="data$ | async as data">
  <div class="flex">
    <ng-container *ngIf="data && data[data.length - 1]">
      <h1>{{ data[data.length - 1].last | currency }}</h1>
      <div class="highlow">
        <div>High: {{data | minmax:'max' | currency }}</div>
        <div>Low: {{data | minmax:'min' | currency }}</div>
      </div>
    </ng-container>
  </div>
</ng-container>
<candle-chart-v2 [prices]="data$"></candle-chart-v2>
<volume-chart [prices]="data$"></volume-chart>
