:host {
  .close-button ::ng-deep {
    position: fixed;
    top: 20px;
    right: 40px;
    svg {
      height: 40px;
      width: 40px;
    }
    path {
      fill: white;
    }
  }
  .flex { display: flex; }
  display: block;
  padding-top: 40px;
  .balance-change {
    margin: 28px 0px 0px 20px;
  }
}
