<ng-container *ngIf="state$ | async as state">
  <div class="flex">
    <div>Balance: {{ state.account.balance | currency }}</div>
	<ng-container *ngIf="gameState.worth$ | async as worth">
		<div [ngClass]="{
			'green': worth > state.account.startingBalance,
			'red': worth < state.account.startingBalance
		}">Worth: {{ worth | currency }}</div>
	</ng-container>
    <div>{{ state.currentSymbol }} Shares: {{ state.account.shares[state.currentSymbol] || 0 }}</div>
	<ng-container *ngIf="gameState.averageCost$[state.currentSymbol] | async as avgPrice">
      <div *ngIf="avgPrice > 0">Avg. Price: {{avgPrice | currency}}</div>
      <ng-container *ngIf="gameState.currentPrice$[state.currentSymbol] | async as nowPrice">
		<ng-container *ngTemplateOutlet="profit; context: {
			p: ((state.account.shares[state.currentSymbol] * nowPrice) - (state.account.shares[state.currentSymbol] * avgPrice))
		}"></ng-container>
      </ng-container>
	</ng-container>
  </div>
  <mat-form-field>
    <input matInput placeholder="Shares" [formControl]="sharesFC" type="number">
  </mat-form-field>
  <span>{{sharesFC.value | cost: (gameState.currentPrice$[state.currentSymbol] | async)}}</span>
  <button
    #buyBtn
    mat-raised-button
    color="primary"
    [disabled]="sharesFC.invalid"
    (click)="buy()"
    title="Cmd-A"
  >Buy</button>
  <button
    #sellBtn
    mat-raised-button
    color="accent"
    [disabled]="sharesFC.invalid"
    (click)="sell()"
  >Sell</button>
  <button
    mat-raised-button
    color="warn"
    (click)="resetData()"
  >Reset Data</button>
</ng-container>

<ng-template #profit let-p="p">
    <div [ngClass]="{
		'green': p > 0,
		'red': p < 0
	}">Profit: {{ p | currency }}</div>
</ng-template>
