<mat-tab-group *ngIf="tabs.length; else addTabForm" (selectedTabChange)="onTabChange()">
  <mat-tab *ngFor="let tab of tabs">
    <ng-template mat-tab-label>
      <span>{{ tab }}</span>
      <span class="icon-x" (click)="removeTab($event, tab)" [innerHTML]="closeIcon">
      </span>
    </ng-template>
    <app-charts [symbol]="tab"></app-charts>
  </mat-tab>
  <mat-tab class="narrow-tab">
    <ng-template mat-tab-label>
      <span [innerHTML]="addIcon"></span>
    </ng-template>
    <ng-container *ngTemplateOutlet="addTabForm; context: { msg: 'Check another symbol' }"></ng-container>
  </mat-tab>
</mat-tab-group>
<ng-template #addTabForm let-msg="msg">
  <div class="add-tab-form">
    <div class="content">
      <h1>{{msg || 'Enter a stock symbol to get started'}}</h1>
      <div class="help-link">
        <a href="https://finviz.com/screener.ashx?v=111&s=ta_topgainers&f=sh_float_u10,ta_gap_u4&ft=4&o=-change&ar=180" target="__blank">Need ideas?</a>
      </div>
      <mat-form-field>
        <mat-label>Stock Symbol</mat-label>
        <input matInput [formControl]="symbolFC" (keydown)="onInputKeydown($event)">
      </mat-form-field>
      <button
        mat-stroked-button
        color="primary"
        (click)="addTab()"
        [disabled]="symbolFC.invalid"
      >Start</button>
    </div>
  </div>
</ng-template>
